<ion-header>
  <ion-toolbar>
    <ion-title>D-Livr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
<ion-content no-padding>

  <ion-grid padding>

    <ion-row justify-content-center>
     <ion-col align-self-center size-md="6" size-lg= "5" size-xs="12">

      <ion-list>
        <ion-item>
          <ion-icon name="person" >User Name</ion-icon>
            <ion-input type = "text" formControlName = "username" required>Ion Ion</ion-input>
        </ion-item>
        <ion-item>
          <ion-icon >Country</ion-icon>
            <ion-input type = "text" formControlName = "Country" required>Romania</ion-input>
        </ion-item>
        <ion-item>
          <ion-icon >Adress</ion-icon>
            <ion-input type = "text" formControlName = "Adress" required>Strada x,nr. y, bl. z, ap. r, Iasi</ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person" >Phone Number</ion-icon>
            <ion-input type = "text" formControlName = "Phone" required>0782201941</ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person" >Birth Date</ion-icon>
            <ion-input type = "text" formControlName = "Date" required>01-05-1995</ion-input>
        </ion-item>
      </ion-list>

     </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
</ion-app> 