
<ion-content class="backg" >
    <div class="ion-padding">
        <h1 class="title">
           D-Livr
        </h1>
        <ion-button class="buton1" size="medium"   color="light" >
            LOG IN
        </ion-button>
      <div class="divider"></div>
        <ion-button class="buton1" size="medium"  color="light" >
            SIGN UP
        </ion-button>
     </div>
    
     <h1 class="subtitle1"> Welcome to D-Livr!</h1>
     <h2 class="subtitle2"> We deliver...you receive !</h2>


     <div class="horizontal1">
       <span class="firstCell" >App features presentation page</span>
     </div>
     <div class="vertical1">
        <!-- <span class="secondCell" >Hey there 2</span> -->
     </div>
     <div class="horizontal2">
        <span class="thirdCell" >Hey there 3</span>
     </div>
     <div class="vertical2">
        <!-- <span class="fourthCell" >Hey there 4</span> -->
     </div>
    
      
     <!-- <div class="table" >
     <ion-row>
        <ion-col size="3">
          ion-col 1 row 1
        </ion-col>
     
        <ion-col>
          ion-col 2 row 1
        </ion-col>
      </ion-row>
     
      <ion-row>
          <ion-col size="3">
            ion-col 1 row 2 
          </ion-col>
          <ion-col>
            ion-col 2 row 2
          </ion-col>
        </ion-row>
      </div> -->
      <div class="col"></div>
      <div class="msj">Do you want to be a driver or send your package through D-Lir service?</div>
      <div class="button3">
      <ion-button size="medium"   color="light" >
          CREATE AN ACCOUNT
      </ion-button>
    </div>
    
  </ion-content>
  
  <ion-footer>
      <ion-toolbar>
        <div class="footer1">D-Livr company @ 2019</div>
      </ion-toolbar>
    </ion-footer>
