

<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-text class="title">
          W E L C O M E
        </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="backg" >
    <div class="ion-padding">
        <ion-button class="buton1" size="medium"   color="light" >
            Login
        </ion-button>
      <div class="divider"></div>
        <ion-button class="buton2" size="medium"  color="light" >
            Register
        </ion-button>
     </div>
  
  </ion-content>
  