<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
      <ion-title>MY PACKAGES</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-grid id ="myPackages">
  
    <ion-row>
      <ion-col id = "cardList">
        <ion-card *ngFor = "let package of packages" id = "ion-card-id-package">
          <ion-card-content id ="ioncardcontent" no-padding>
          <ion-item id="cardListItem" lines="none" color="blue">
            <p class ="count" > {{package.number}} </p>
            <ion-label id ="cardListLabel">     
              <ion-card-header>
                <ion-card-title> {{package.name}} </ion-card-title>
              </ion-card-header>

              <ion-card-content> Status: {{package.status}} ***status </ion-card-content>
            </ion-label>

            <ion-button id = "ionButtonIcon" color ="--ion-color-success-shade" slot="end" (click)="editPackageForm(package.number)">
              <ion-icon name="create"></ion-icon>
            </ion-button>

            <ion-button id ="ionDeleteButton" color ="--ion-color-success-shade" slot="end" (click)="deletePackage(package.number)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>

           </ion-item>
          </ion-card-content>
        </ion-card>
  
        <div id ="text" style="display: block;">
          <p id ="textP"> You don't have any package yet! </p>
        </div>

       </ion-col>
     </ion-row>

  <div id = "addPackage" style="display: none;">
    <ion-row>
      <ion-col>
        <ion-card>                
          <ion-item id="addPackageItem" lines="none" color ="red">
           <p class ="count" > {{packages.length + 1}} </p>
           <ion-label>     
            <ion-card-header id ="addPackageHeader">
              <ion-card-title style="color: rgb(202, 201, 201);" id ="titleInfo"> Complete the info: </ion-card-title>
            </ion-card-header>
           </ion-label>
         </ion-item>

         <form (ngSubmit)="submitForm(form.value)">
          <div padding>
            <p id = "formtext"> Package Name </p> 
            <ion-item lines="none" class ="itemform">
              <ion-input id = "nameInput" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type = "text" placeholder = "Package Name" required></ion-input>
            </ion-item>

            <p id = "formtext"> Pickup Address</p> 
            <ion-item lines="none" class ="itemform">
              <ion-input id = "pickupAddressInput" [(ngModel)]="pickupAddress" [ngModelOptions]="{standalone: true}" type = "text" placeholder = "Pickup Address" required></ion-input>
            </ion-item>

            <p id = "formtext"> Delivery Address </p> 
            <ion-item lines="none"  class ="itemform">
             <ion-input id = "deliveryAddressInput" [(ngModel)]="deliveryAddress" [ngModelOptions]="{standalone: true}" type = "text" placeholder = "Delivery Address" required></ion-input>
            </ion-item>

            <p id = "formtext"> Receiver's Full Name </p> 
            <ion-item lines="none"  class ="itemform">
              <ion-input id = "receiverName" [(ngModel)]="receiverName" type = "text" [ngModelOptions]="{standalone: true}" placeholder = "Receiver's Full Name" required></ion-input>
            </ion-item>

            <p id = "formtext">Receiver's Phone Number </p> 
            <ion-item lines="none"  class ="itemform">
              <ion-input id = "receiverPhoneNumber" [(ngModel)]="receiverPhoneNumber" [ngModelOptions]="{standalone: true}" type = "text" placeholder = "Receiver's Phone Number" required></ion-input>
            </ion-item>

           </div>
          </form>

          <ion-row>
           <ion-col>
            <p id = "availableTime"> Available Pickup Hours </p> 
            <ion-item *ngFor ="let pickupHour of pickupHours;let index = index;trackBy:trackByIndex;" id ="timeItem" lines="none" color="red">

              <ion-label  id ="timeLabel">  
               <ion-card-content id ="timeContent">
                <ion-item lines="none" class ="timeItem2">
                  <ion-datetime displayFormat="MMMM DD, DDDD" placeholder="Day" 
                    [(ngModel)]="pickupHours[index].pickupDay"
                    [ngModelOptions]="{standalone: true}"
                  ></ion-datetime>
                </ion-item >
                
                <ion-item class= "timeItem2">
                  <ion-datetime displayFormat="HH:mm - " placeholder="Start Hour"
                    [(ngModel)]="pickupHours[index].pickupStartHour"
                    [ngModelOptions]="{standalone: true}"
                  ></ion-datetime>
                  
                  <ion-datetime displayFormat=" HH:mm"  placeholder="End Hour"
                    [(ngModel)]="pickupHours[index].pickupEndHour"
                    [ngModelOptions]="{standalone: true}"
                  ></ion-datetime>
                </ion-item>
            
               </ion-card-content>
              </ion-label>
                  
              <ion-button id = "deletepickuphour" color ="--ion-color-success-shade" item-right slot="start" (click)="deleteHoursForm(selectedpickupHours.id)">
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-button id="addpickuphour" color = "grey" (click)="addPickupHour()" type = "submit" >Add pickup time</ion-button>
            <ion-button id="dontAddPackage" color ="red" (click)="dontAddPackage()" type = "submit" expand="block">Cancel </ion-button>
         
          </ion-col>
        </ion-row>
      </ion-card>

      
     </ion-col>
   </ion-row>
  </div>

  <div id ="textDriver" style="display: none">
    <p class = "textP2"> *The driver will also receive your contact information, so he can contact you for needed details </p>
  </div>
 
  <div id = "editPackage" style="display: none;">
      <ion-row>
        <ion-col>
          <ion-card>                
              <ion-item id="addPackageItem" lines="none" color ="red">
                <p class ="count"> {{selectedPackage.number}} </p>
                <ion-label>     
                  <ion-card-header>
                   <ion-card-title style="color: rgb(202, 201, 201);"> {{selectedPackage.name}} </ion-card-title>
                  </ion-card-header>
      
                  <ion-card-content style="color: rgb(202, 201, 201);"> Status: ***status </ion-card-content>
                </ion-label>
      
              </ion-item>
  
           <form >
            <div padding>
              <p id = "formtext"> Package Name </p> 
              <ion-item lines="none" class ="itemform">
                <ion-input id = "nameInput" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type = "text"  value = "{{selectedPackage.name}}" required></ion-input>
              </ion-item>
  
              <p id = "formtext"> Pickup Address</p> 
              <ion-item lines="none" class ="itemform">
                <ion-input id = "pickupAddressInput" [(ngModel)]="pickupAddress" [ngModelOptions]="{standalone: true}" type = "text" value ="{{selectedPackage.pickupAddress}}" required></ion-input>
              </ion-item>
  
              <p id = "formtext"> Delivery Address </p> 
              <ion-item lines="none"  class ="itemform">
               <ion-input id = "deliveryAddressInput" [(ngModel)]="deliveryAddress" [ngModelOptions]="{standalone: true}" type = "text" value ="{{selectedPackage.deliveryAddress}}" required></ion-input>
              </ion-item>
  
              <p id = "formtext"> Receiver's Full Name </p> 
              <ion-item lines="none"  class ="itemform">
                <ion-input id = "receiverName" [(ngModel)]="receiverName" type = "text" [ngModelOptions]="{standalone: true}" value ="{{selectedPackage.receiverName}}" required></ion-input>
              </ion-item>
  
              <p id = "formtext">Receiver's Phone Number </p> 
              <ion-item lines="none"  class ="itemform">
                <ion-input id = "receiverPhoneNumber" [(ngModel)]="receiverPhoneNumber" [ngModelOptions]="{standalone: true}" type = "text" value ="{{selectedPackage.receiverPhoneNumber}}" required></ion-input>
              </ion-item>
  
             </div>
            </form>
  
            <ion-row>
             <ion-col>
              <p id = "availableTime"> Available Pickup Hours </p> 

              <!--
              <ion-item  id ="timeItem" lines="none" color="red">
                  <ion-label  id ="timeLabel">  
                      <ion-card-content id ="timeContent">
     
                       <ion-item lines="none" class ="timeItem2">
                         <ion-datetime displayFormat="MMMM DD, DDDD" value="2019-01-20" placeholder="Day"></ion-datetime>
                       </ion-item >
                       <ion-item class= "timeItem2">
                         <ion-datetime displayFormat="HH:mm - " value="12:20" placeholder="Start Hour"></ion-datetime>
                         <ion-datetime displayFormat=" HH:mm"  value ="15:40" placeholder="End Hour"></ion-datetime>
                       </ion-item>
     
                      </ion-card-content>
                     </ion-label>
                         
                     <ion-button id = "deletepickuphour" color ="--ion-color-success-shade" item-right slot="start" (click)="addHoursForm()">
                       <ion-icon name="close-circle"></ion-icon>
                     </ion-button>
              </ion-item>-->


              <ion-item *ngFor ="let pickupHour of selectedPackage.pickupHours" id ="timeItem" lines="none" color="red">
  
                <ion-label  id ="timeLabel">  
                 <ion-card-content id ="timeContent">

                  <ion-item lines="none" class ="timeItem2">
                    <ion-datetime displayFormat="MMMM DD, DDDD" placeholder="Day" value = "{{pickupHour.pickupDay}}"></ion-datetime>
                  </ion-item >
                  <ion-item class= "timeItem2">
                    <ion-datetime displayFormat="HH:mm - " placeholder="Start Hour" value = "{{pickupHour.pickupStartHour}}"></ion-datetime>
                    <ion-datetime displayFormat=" HH:mm"   placeholder="End Hour" value = "{{pickupHour.pickupEndHour}}"></ion-datetime>
                  </ion-item>

                 </ion-card-content>
                </ion-label>
                    
                <ion-button id = "deletepickuphour" color ="--ion-color-success-shade" item-right slot="start" (click)="addHoursForm()">
                  <ion-icon name="close-circle"></ion-icon>
                </ion-button>
              </ion-item>
  
              <ion-button id="addpickuphour" color = "grey" (click)="addPickupHour()" type = "submit" >Add pickup time</ion-button>
              <ion-button id="dontSaveEditPackage" color ="red" (click)="dontSaveEditPackage()" type = "submit" expand="block">Cancel </ion-button>
           
            </ion-col>
          </ion-row>
        </ion-card>
  
        
       </ion-col>
     </ion-row>
    </div>
  
    <div id ="textDriver2" style="display: none">
      <p class = "textP2"> *The driver will also receive your contact information, so he can contact you for needed details </p>
    </div>

 </ion-grid>

 <div id="space"></div>
</ion-content>

  
<ion-footer no-border id="footer">
    <ion-toolbar id="addbutton">
      <div id ="addButton" padding>
        <ion-button id="addpackage" color ="--ion-color-success-shade" (click)="addPackageButton()" expand="block" size="large"  type = "submit" expand="block" value="Add Package">Add Package</ion-button>
      </div>
  
    </ion-toolbar>
  </ion-footer>